   
   html,
   body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            color: #333;
            line-height: 1.8;
            overflow-x: hidden;
            scroll-behavior: smooth;
        }

        header {
            align-items: center;
            justify-items: center;
            background-color: #002733;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 4rem;
            font-weight: bold;
            position: sticky;
            top: 0;
            width: 100%;
            position: relative;
            height: 115px;
            z-index: 1100;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end; 
            height: 100px;
            padding-bottom: 10px; 
        }
        
      
        
        .head {
            position: sticky;
            top: 0; 
            width: 100%;
            z-index: 1000;
            padding: 0px 0;
        }
        
        body {
            padding-top: 5px;
        }
        
        #background-video {
            position: fixed; 
            top: 50%;
            left: 50%;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -1;
            transform: translate(-50%, -50%);
            object-fit: cover; 
        }

        nav {
            font-size: 20px;
            display: flex;
            justify-content: center;
            padding: 15px 15px;
            position: fixed;
            top: 80px;
            z-index: 1000;
          
        }
        
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }

        nav ul li {
            margin: 0 20px;
        }

        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 20px;
            transition: color 0.3s ease-in-out;
        }

        nav ul li a:hover {
            
           color: rgb(0, 119, 255);
        }

        .container {
            width: 90%;
            margin: auto;
            padding: 40px 0;
        }
        
        .bg_sa_ulo{

            padding: 60px 20px;
            text-align: center;
            background: rgba(255, 255, 255, 0.541);
            margin-bottom: 30px;
            border-radius: 12px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);

        }

        section {
            padding: 60px 20px;
            text-align: center;
            margin-bottom: 30px;
        
        }

        .charts-container {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 40px;
            height: 40%;
        }

        .chart {
            flex: 1;
            min-width: 350px;
            padding: 30px;
        }

        .chart-container {
            display: inline-block;
            width: 30%;
            margin: 10px;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            transition: transform 0.3s ease-in-out;
        }

        .modal-dialog {
            max-width: 90%;
            max-height: 90%; 
        }
    
        .modal-content {
            height: 75%; 
        }
    
        
        .chart-container:hover {
            transform: scale(1.05);
        }
        
        .about-container {
            justify-content: center;
            gap: 40px;
            flex-wrap: wrap;
            width: 80%;
            border-radius: 10px;
        }

        .about-section {
            flex: 1;
            min-width: 350px;
            padding: 30px;
        }

        footer {
            background: #575757;
            color: white;
            text-align: center;
            padding: 20px;
            font-size: 1rem;
            margin-top: 40px;
        }





        main.container {
            max-height: 95%;
            overflow-y: auto;
            padding: 20px;
        }
        
        .card {
            max-height: 45vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .card:hover{
            transition: 0.2s;
            transform: scale(1.1);
        }
        
        canvas {
            max-width: 100%;
            max-height: 100%;
        }
        
        #about {
            height: 100%;
            padding: 50px 0;
            margin-bottom: 0;
        }
        
        footer {
            position: relative;
            bottom: 0;
            width: 100%;
            padding: 10px 0;
        }
        
        